body{
  background-color: #f2f2f2;
}

#header{
  height: 50px;
  padding: 5px 60px;
}
#infobody{

  padding: 20px 60px;
}

.w320{
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  box-sizing:border-box;
}
#content{
  background-color:#fff;
  // width: 100%;
  // max-width:100%;
  img{
  max-width: 100%;
  width: 100%;
  }
}

#footer{
  height:1000px;
  padding:20px 60px;
}
.commw{
  max-width: 1780px;
  min-width: 1200px;
}
#info_con{
}
#rightcon{
  box-sizing:border-box;
  padding:10px;
}
.bbb{
  box-sizing:border-box;
}
.bdtb{border-top:1px dashed #999;border-bottom:1px dashed #999}
.btn-a{background-color:#ea4335 ;border-color:#ea4335 }
.imgw50{
  img{width:50px;}
}
.bl{
  border-left:1px solid #f2f2f2;
}
.layui-layer-move{
  background-color:red;
}
.fixed_bottom{
  position: fixed;
  bottom:60px;
  height: 50px;
}

img{
  // background-color:pink;
}
@import 'smoothproducts.scss'
