html{
  font-size:120px;
background: gray;
  body{
    font-size: .1rem;
  }
}

div{
  font-size: .2rem;
}
.px14{
  font-size: 14px;
   }
.px12{
     font-size: 12px;
   }
.px13{
     font-size: 13px;
   }
.px15{
     font-size: 15px;
   }
.px16{
     font-size: 16px;
   }
.px18{
     font-size: 18px;
   }
.px20{
     font-size: 20px;
   }
.px28{
     font-size: 28px;
   }
