extends pugs/_default
block css
    link(rel='styleSheet', href="//at.alicdn.com/t/font_tp9fkhj6h0hehfr.css")
    link(rel='styleSheet', href="styles/com.css")
    link(rel='styleSheet', href="styles/flexslider.css")

block title
  - page_name ='pugtest page'
block content
    //- 通用头部
    include pugs/components/_header
    //- 轮播系统
    - 
      Sliders =[
            {url:'###aaaa',image:'https://dummyimage.com/1200x400/777/fff.png&text=banner-png'},
            {url:'###bbbbb',image:'https://dummyimage.com/1200x400/745/fff.png&text=banner-png'},
            {url:'###cccc',image:'https://dummyimage.com/1200x400/e30/fff.png&text=banner-png'},
            {url:'###dddddd',image:'https://dummyimage.com/1200x400/0de/fff.png&text=banner-png'},
            {url:'###eeeee',image:'https://dummyimage.com/1200x400/d80/fff.png&text=banner-png'},
            {url:'###ffffff',image:'https://dummyimage.com/1200x400/9ab/fff.png&text=banner-png'},
            ]
    include pugs/mixins/_slider
    div.w1200.ma#slid.oh
      +slider(Sliders)
    //- 热门推荐
    div
      include pugs/components/index_saleitems

append js
  script(src='scripts/main.js')
  script(src='scripts/flexslider.js')
  script.
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "fade",
        sanimationLoop:true
      });
    });