extends pugs/_default
block title
  - page_name ='详情页'
block css
  link(rel='styleSheet', href="styles/info.css")
  link(rel='styleSheet', href="styles/layer.css")
block content
  #header.bg9.c0.commw.ma
    div
      .l 左边信息
      .r 右边的
  #infobody.ma.commw.w1s.bbb.por
    .w320.vt.p10.bg0.bl.poa(style='right:60px')
      #rightcon
        h2.f18 厉害了word 666莲，这么好吃，你咋不上天！！！
        p.c8.f14 黄金产区出品，确保每一颗果子都是天然成长，无污染，不催熟，放心享受每一口
        div
          div.f14.bdtb.lh2s
            div
              .dtc 规格：
              .dtc.c6 50g
            div
              .dtc 产地：
              .dtc.c6 澳大利亚
            div
              .dtc 储存：
              .dtc.c6 冷藏
            div
              .dtc 运输：
              .dtc.c6 全宇宙配送               
          div.imgw50.m10
            img.din.mr10(stitle='动态title11111111',src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/project/tools/photoshop.svg?cb=264615658')
            img.din.mr10(stitle='动态title12222222',src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/project/tools/photoshop.svg?cb=264615658')
            img.din.mr10(src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/project/tools/photoshop.svg?cb=264615658')
        .summary
          div &nbsp;
           div#info_con.oh
             .sp-loading
               img(src='http://img.zcool.cn/community/0161f656b0663e6ac7256cb052d31a.gif')
             .sp-wrap
               -for(var i=1 ;i <5; i++)
                 a.db(href='http://demo.sc.chinaz.com//Files/DownLoad/webjs1/201510/jiaoben3760/images/'+i+'.jpg')
                   img(src='http://demo.sc.chinaz.com//Files/DownLoad/webjs1/201510/jiaoben3760/images/'+i+'_tb.jpg')
          div.lh2s
            b.f28 ￥888.00
            del.f12.c5 ￥1000.00
             
          div
            
            img.din.mr10(src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/galleries/icons/ribbons/1x/network.png')
            img.din.mr10(src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/galleries/icons/ribbons/1x/network.png')
            img.din.mr10(src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/galleries/icons/ribbons/1x/network.png')
            img.din.mr10(src='https://a5.behance.net/dfe04841cf04e7a4c8ffff9c8ddbd1f489af0f7a/img/galleries/icons/ribbons/1x/network.png')
          div.lh2s
            div.tc.tr
              span.bd.w6s -
              input.din(value='1')
              span.bd.w6s +            
            a.db.tc.bd.rds6.btn-a.c0.mt10(href='javascript:void(0)') 加购物车

          p &nbsp;

    #content.vt.bbb(style='margin-right:322px')
      p 这个是文字说明
      p(style='font-size:50px') 你见过这么好吃的榴莲?
      img(data-src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/c41a7649661805.58bb1d4b3b016.jpg',height='200px')
      img(data-src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/551fb549661805.58bb1292f2eb3.jpg',height='200px')
      img(data-src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/f0a51749661805.58bb1292f20c9.jpg',height='200px')
      img.vb.db.lazy(src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/3c9c3543384001.57ecfb7327f64.jpg')
      img.vb.db.lazy(src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/ae446c43384001.57ecfb73295ae.jpg')
      img.vb.db.lazy(src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/3c9c3543384001.57ecfb7327f64.jpg')
      img.vb.db.lazy(src='https://mir-s3-cdn-cf.behance.net/project_modules/1400/ae446c43384001.57ecfb73295ae.jpg')
      div.mt10.lh2s.c0#bbb(style='width:300px').bgpink.pof.rds6.lh2s
        a.din.w3s.bbb.tc 加收藏
        a.rds6.w2s.bbb.tc.r 立即购买
      p &nbsp;  

               

  #footer.bg9.c0.commw.ma
    div 底部文字



append js
  script(src='scripts/main.js')
  script(src='scripts/scrollfix.js') 
  script(src='http://demo.sc.chinaz.com//Files/DownLoad/webjs1/201510/jiaoben3760/js/smoothproducts.min.js') 
  script(src='scripts/lazyloadxt.js') 
  script(src='scripts/layer.js') 
  script.
    $(function(){
        //- 使用scrollfix插件制作右边跟随滚动
        $('.sp-wrap').smoothproducts();
     
        $(window).lazyLoadXT();
        $('.btn-a').click(function(){
          layer.msg('商品添加成功',{
          time:1000,
          skin:'layer-de'
          });
        })
        $('.imgw50 img').mouseover(function(){
          layer.tips($(this).attr('stitle'),$(this));
          console.log($(this).attr('stitle'))
        })

     $('.summary').scrollFix({
          //- startTop: 200, //滑到这个位置顶部时开始浮动，默认为空
          //- startBottom: null, //滑到这个位置末端开始浮动，默认为空
          //- distanceTop: 0, //固定在顶部的高度
          endPos: $('#footer'), //停靠在底部的位置，可以为jquery对象
          //- bottom: -1, //底部位置
          //- zIndex: 0, //z-index值
          //- baseClassName: 'scrollfixed' //开始固定时添加的类
     });

     $('#bbb').scrollFix( {
           startTop:'body',
           bottom: '0',
           endPos : '#footer',
           zIndex : 999
       });
    });
