.comheader
  #ad_con.oh
    a(href='').db
      img(src='https://dummyimage.com/2000x80/444/fff.png&text=%E5%B9%BF%E5%91%8A%E4%BD%8D%E5%9B%BE%E7%89%87')   
  .bgd4    
    .w1200.ma.headcon.c5.lh2s
      .headtop
      span#adrass
        b.iconfont.icon-shouhuodizhi.cr1
        b 地址
      .r
        span 你好，请登录 &nbsp;

        a(href='###').cr1 登录注册
        span.hdi
        a(href='###') 我的订单
        span.hdi
        a(href='###') 我的某某
        span.hdi
        a(href='###') 客户服务
        span.hdi
        a(href='###') 手机某某
  //- 下面部分
  div.w1200.ma#headbody
    a.poa(href='')#logo-img
      img(src='https://dummyimage.com/160x120/777/fff.png&text=logo-png')
    .tr
      div.search_con.din.vm
        input#search(placeholder='搜索').rds40.por
        a#search_bar.por.pointer
          span.iconfont.icon-sousuo.c4

      a.din#cart.tc(href)
        div.poa.bgr1.c0#cart-num.rds40 4
        i.iconfont.icon-gouwuche1.cart   
    div#items-con
      ul.reset.f16.lh2s.fb
        li.din.tc
          a(href) 分类一
        li.din.tc
          a(href) 分类一          
        li.din.tc
          a(href) 分类三
        li.din.tc
          a(href) 分类四  
        li.din.tc
          a(href) 分类五
        li.din.tc
          a(href) 分类六         
        li.din.tc
          a(href) 分类七


        

